<!-- <head>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</head> -->

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>


<section class="home">

  <div class="in-flex">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
          <img src="assets/icons/Logo.jpg" style="height: 30px; margin: 5px;" alt="">
          <a class="navbar-brand" [routerLink]="['inicio']">Sabinito Smile</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link" aria-current="page" routerLinkActive="active"
                          [routerLink]="['inicio']">Inicio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active" [routerLink]="['contactanos']">Contactanos</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active" [routerLink]="['acercaDe']">Acerca De</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active" [routerLink]="['recomendaciones']">Recomendaciones</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active" [routerLink]="['citas']">Citas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['Cuenta']">Cuenta</a>
                </li>
                <li class="nav-item">
                  <button (click)="onClick()" class="btn btn-outline-danger mt-5">Logout</button>
              </li>
              </ul>
              <form class="d-flex" role="search">
                <input type="text" class="form-control text-center" name="filterPost" placeholder="Search..." [(ngModel)]="parametro">
                  <button class="btn btn-outline-success" (click)="Buscar()">Buscar</button>
              </form>
          </div>
      </div>
  </nav>

  </div>

</section>

