<br>
<h2>Login de usuario</h2>

<div class="TelSt">

  <form [formGroup]="LoginT" (ngSubmit)="loginT()">
    <div class="mb-3">
      <label style="color: #E83F6C; font-size: 20px;"  class="form-label">Telefono</label>
      <input type="text" class="form-control " formControlName="telefono">
    </div>
    <div class="mb-3" id="rec-container">

    </div>
    <input type="submit" value="Enviar" class="btnEnviar">
  </form>

  <form [formGroup]="LoginT2" (ngSubmit)="ValiC()">
    <div class="mb-3">
      <label style="color: #E83F6C; font-size: 20px;" class="form-label">Codigo</label>
      <input type="text" class="form-control" formControlName="codigo">
    </div>
    <input type="submit" value="Enviar" class="btnEnviar">
  </form>

</div>

<br>
