<body>
    <div class="cont">
        <div class="contenedor-opciones">
        
            <button [routerLink]="['/citas/agendar']" type="button" class="btn btn-lg">
                <img src="assets/images/tot.png" alt="" style="width: 200px;height: 200px;">
                <p>Agendar Cita</p>
            </button>
        </div>
        <div class="contenedor-opciones">
            <button [routerLink]="['/citas/revisar']" type=" button" class="btn btn-lg">
                <img src="assets/images/tot.png" alt="" style="width: 200px;height: 200px;">
                <p>Revisar Citas</p>
            </button>
        </div>
    </div>
    
</body>