<p class="text-center titulos">Algunos de nuestros clientes satisfechos</p>
<div class="masonryholder">
        <div class="masonryblocks">
            <div class="card">
                <img src="assets/images/prand10.png" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Ortodoncia</h5>
                <p class="card-text">Los recomiendo 100% excelentes personas, excelente trabajo!</p>
                <p class="card-text"><small class="text-muted">Jonathan Leiva</small></p>
                </div>
            </div>
        </div>
        <div class="masonryblocks">
            <div class="card">
                <img src="assets/images/prand9.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Protesis</h5>
                  <p class="card-text">Excelente servicio, precio, puntualidad, calidad y atención.</p>
                  <p class="card-text"><small class="text-muted">Erik Davila</small></p>
                </div>
            </div>
        </div>

        <div class="masonryblocks">
            <div class="card">
                <img src="assets/images/prand8.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Limpieza</h5>
                  <p class="card-text">"Muy seguros y profesionales ¡100% recomendados!"</p>
                  <p class="card-text"><small class="text-muted">Norma Zuñiga</small></p>
                </div>
            </div>
        </div>

        <div class="masonryblocks">
            <div class="card">
                <img src="assets/images/prand7.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ortodoncia</h5>
                  <p class="card-text">"Excelente médico, muy buen servicio estoy muy contenta con los resultados y la verdad me siento muy bien desde que me atendi."   </p>
                  <p class="card-text"><small class="text-muted">Aurora Fuentes</small></p>
                </div>
            </div>
        </div>

        <div class="masonryblocks">
            <div class="card">
                <img src="assets/images/prand6.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Blanqueamiento</h5>
                  <p class="card-text">"Excelente médico, explica muy bien , es muy educado y amable, instalaciones limpias y agradables,  justo el servicio que creo todos buscamos."</p>
                  <p class="card-text"><small class="text-muted">Carlota Segovia </small></p>
                </div>
            </div>
        </div>

        <div class="masonryblocks">
            <div class="card">
                <img src="assets/images/prand5.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ortodoncia</h5>
                  <p class="card-text">"Excelente trato y servicios profesionales de muy buena calidad."</p>
                  <p class="card-text"><small class="text-muted">Plácido Castillo</small></p>
                </div>
            </div>
        </div>

        <div class="masonryblocks">
            <div class="card">
                <img src="assets/images/prand4.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Protesis</h5>
                  <p class="card-text">"Un excelente servicio, me gusta como tratan a las personas muy amable, sobre todo económico"</p>
                  <p class="card-text"><small class="text-muted">Alberto Menéndez Moreno</small></p>
                </div>
            </div>
        </div>

        <div class="masonryblocks">
            <div class="card">
                <img src="assets/images/prand3.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Blanqueamiento</h5>
                  <p class="card-text">"Servicios profesionales y atención de excelente calidad, todo lo que llegue solicitando quedé con muy buena experiencia. Amplia recomendación."</p>
                  <p class="card-text"><small class="text-muted">Elizabeth Garcia</small></p>
                </div>
            </div>
        </div>

        <div class="masonryblocks">
            <div class="card">
                <img src="assets/images/prand2.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Limpieza</h5>
                  <p class="card-text">"Excelente trabajo y dedicación"</p>
                  <p class="card-text"><small class="text-muted">Pili Vergara</small></p>
                </div>
            </div>
        </div>

        <div class="masonryblocks">
            <div class="card">
                <img src="assets/images/prand1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Blanqueamiento</h5>
                  <p class="card-text">"Super recomendado este lugar hacen su trabajo como debe ser"</p>
                  <p class="card-text"><small class="text-muted">Blas Coca Barreda</small></p>
                </div>
            </div>
        </div>
</div>

