<div class="container mt-5">
    <h2 class="custom-heading">Formulario de contacto</h2>
    <form class="custom-form" (ngSubmit)="contactForm(form.value)" #form="ngForm">
        <div class="form-group">
            <label class="custom-label">Nombre</label>
            <input type="text" class="custom-input" name="nombre" ngModel>
        </div>
        <div class="form-group">
            <label class="custom-label">E-mail</label>
            <input type="email" class="custom-input" name="email" ngModel>
        </div>
        <div class="form-group">
            <label class="custom-label">Mensaje</label>
            <textarea class="custom-textarea" cols="3" rows="6" name="mensaje" ngModel></textarea>
        </div>
        <button type="submit" class="custom-button">Enviar</button>
    </form>
    <div *ngIf="mensajeEnviado" class="custom-alert">
        El mensaje ha sido enviado correctamente.
    </div>
</div>