<div class="contenedor-contactanos">
    <form class="custom-form" (ngSubmit)="contactForm(form.value)" #form="ngForm">
        <br>
        <h2 class="custom-heading text-center">Formulario de contacto</h2>
        <div class="container">
            <div class="form-group row">
                <label class="col-2 col-form-label">Nombre</label>
                <div class="col-9">
                    <input type="text" class="form-control" name="nombre" ngModel>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Correo</label>
                <div class="col-9">
                    <input type="email" class="form-control" name="email" ngModel>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">Mensaje</label>
                <div class="col-9">
                    <textarea class="form-control" name="mensaje" ngModel></textarea>
                </div>
            </div>
            <button type="submit" class="btnEnviar">Enviar</button>
        </div>
    </form>
    <div *ngIf="mensajeEnviado" class="custom-alert">
        El mensaje ha sido enviado correctamente.
    </div>
</div>
