.titulos {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  width: 80%;
}

.contact {
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.dis{
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contenedor {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}

.contenedor-info{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}





