.enca {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: auto;
}

.tit {
  display: flex;
}

.dire {
  display: flex;
  text-align: center;
  align-items: center;
}

.contact {
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.dis{
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contenedor {
  margin: auto;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;

}





