<br>
<h2 class="text-center">Registro de usuario</h2>
<div class="contenedor-log">
    <form [formGroup]=" formReg" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="col-2 col-form-label">Nombre(s)</label>
            <div class="col-8">
                <input class="form-control" type="text" [ngClass]="{'is-invalid':!formReg.get('name')?.valid}"
                    placeholder="Nombre" formControlName="name">
                <div *ngIf="formReg.controls['name'].errors?.['required']" class="invalidfeedback">
                    Nombre obligatorio
                </div>
                <div *ngIf="formReg.controls['name'].errors?.['minlength']" class="invalid-feedback">
                    Por lo menos tres caracteres
                </div>
            </div>
        </div>
        <div class="mb-3">
          <label class="col-2 col-form-label">Apellido(s)</label>
          <div class="col-8">
              <input class="form-control" type="text" [ngClass]="{'is-invalid':!formReg.get('lastname')?.valid}"
                  placeholder="Apellido's" formControlName="lastname">
              <div *ngIf="formReg.controls['lastname'].errors?.['required']" class="invalidfeedback">
                  Apellido obligatorio
              </div>
              <div *ngIf="formReg.controls['lastname'].errors?.['minlength']" class="invalid-feedback">
                  Por lo menos tres caracteres
              </div>
          </div>
      </div>
        <div class="mb-3">
            <label class="col-2 col-form-label">Correo</label>
            <div class="col-8">
                <input class="form-control" [ngClass]="{'is-invalid':!formReg.get('email')?.valid }" type="text"
                    placeholder="example@gmail.com" formControlName="email">
                <div *ngIf="formReg.controls['email'].errors?.['required']" class="invalidfeedback">
                    Correo obligatorio
                </div>
                <div *ngIf="formReg.controls['email'].errors?.['email']" class="invalid-feedback">
                    El correo no tiene el formato correcto
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <div class="col-8">
                <input type="password" class="form-control" formControlName="password"
                    [ngClass]="{'is-invalid':!formReg.get('password')?.valid}" formControlName="password">
                <div *ngIf="formReg.controls['password'].errors?.['required']" class="invalidfeedback">
                    Contraseña obligatoria
                </div>
                <div *ngIf="formReg.controls['password'].errors?.['minlength']" class="invalid-feedback">
                    Por lo menos ocho caracteres
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Confirmar contraseña</label>
            <div class="col-8">
                <input type="password" class="form-control" formControlName="passwordVer">
                <div *ngIf="formReg.controls['passwordVer'].errors?.['required']" class="invalidfeedback">
                    Vuelve a ingresar tu contraseña
                </div>
                <div *ngIf="formReg.hasError('passwordMismatch')" class="invalid-feedback">
                    Las contraseñas deben ser iguales
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary" [disabled]="formReg.invalid">
            Guardar
        </button>
    </form>
</div>
<br>
