h2 {
    background-color: #0d6dfdc5;
    color: white;
    border-radius: 5px;
    margin: 0 auto;
    width: 50%;
}

.contenedor-log {
    border-radius: 4px;
    border: 1px solid gray;
    padding: 15px;
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(50vh - 70px);
}

.form-label {
    font-size: 20px;
    color: #E83F6C;
}

.btnEnviar {
    width: 100%;
    font-size: 18px;
    border: 1px solid #0d6dfdc5;
    border-radius: 5px;
    background-color: #0d6dfdc5;
    color: white;
}


.btnEnviar:hover {
    border: 1px solid #E83F6C;
    border-radius: 5px;
    background-color: #E83F6C;
    color: white;
}