<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
</head>
<body>
  
  <h2 class="animate__animated animate__lightSpeedInLeft">!!! Conoce a las personas que se encargan de darle ese brillo a tu sonrisa !!!</h2>

    <nav class="animate__animated animate__lightSpeedInRight" >

      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Oswaldo Cruz Sarmientos</mat-card-title>
              <mat-card-subtitle>Dentista general.</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/Kike.jpg" alt="">
            <mat-card-content>
              <p>
                Es el doctor que diagnostica y trata enfermedades de la boca. Es un profesional de la salud licenciado que puede tener el grado de Doctor en Medicina Dental (DMD) o Doctor en Cirugía oral (DDS).
              </p>
            </mat-card-content>
          </mat-card>
          

    
          <mat-card class="example-card2">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image2"></div>
              <mat-card-title>Juan Manuel Gonzales Alaniz</mat-card-title>
              <mat-card-subtitle>Odontopediatra </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/Mannu.jpg" alt="">
            <mat-card-content>
              <p>
                Atiende y trata las distintas enfermedades bucodentales desde la infancia más temprana hasta finalizar el crecimiento.
              </p>
            </mat-card-content>
          </mat-card>



          <mat-card class="example-card3">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image3"></div>
              <mat-card-title>Juan Sebastian Teran Ramirez</mat-card-title>
              <mat-card-subtitle>Ortodoncista.</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/Sebas.jpg" alt="">
            <mat-card-content>
              <p>
                Con alta capacitación especial en prevención, diagnóstico y tratamiento de ciertos problemas de los dientes y la mandíbula, tales como dientes desalineados o apiñados, o mal oclusión (mordida).
              </p>
            </mat-card-content>
          </mat-card>



          <mat-card class="example-card4">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image4"></div>
              <mat-card-title>Jose Esau Tovar Cruz</mat-card-title>
              <mat-card-subtitle>Endodoncista</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/Yo.jpg" alt="">
            <mat-card-content>
              <p>
                Se especializa en el mantenimiento de los dientes a través de la terapia endodóntica, procedimientos que involucran el tratamiento del tejido interno blando de los dientes, llamado pulpa
              </p>
            </mat-card-content>
          </mat-card>

      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>

    </nav>

    <br><br>

    <h3> !Principales Objetivos de nuestro consultorio! </h3>

    <br><br>

    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile
          *ngFor="let tile of tiles"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [style.background]="tile.color">
        {{tile.text}}
      </mat-grid-tile>
    </mat-grid-list>

    <br><br>

    <button mat-button [matMenuTriggerFor]="animals">!!!Informacion!!!</button>
<mat-menu #animals="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="Nosotros">Sobre-Nosotros</button>
  <button mat-menu-item [matMenuTriggerFor]="Uni">Universidad</button>
</mat-menu>

<mat-menu #Nosotros="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="Chilango">Oswaldo</button>
  <button mat-menu-item [matMenuTriggerFor]="Exuberante">Sebastian</button>
  <button mat-menu-item [matMenuTriggerFor]="Judio">Manuel</button>
  <button mat-menu-item [matMenuTriggerFor]="Zeldero">Esau</button>
</mat-menu>

<mat-menu #Uni="matMenu">
  <button mat-menu-item>UAA</button>
  <button mat-menu-item>ISC</button>
  <button mat-menu-item>6°C</button>
  <button mat-menu-item>Proyecto Realizado con Fines Academicos</button>
</mat-menu>

<mat-menu #Chilango="matMenu">
  <button mat-menu-item>Apasionado</button>
  <button mat-menu-item>Divertido</button>
  <button mat-menu-item>Constante</button>
  <button mat-menu-item disabled>!!CHILANGO!!</button>
</mat-menu>

<mat-menu #Exuberante="matMenu">
  <button mat-menu-item>Calmado</button>
  <button mat-menu-item>Gracioso</button>
  <button mat-menu-item>Analista</button>
  <button mat-menu-item disabled>!!EXUBERANTE!!</button>
</mat-menu>

<mat-menu #Judio="matMenu">
  <button mat-menu-item>Idealista</button>
  <button mat-menu-item>Agradable</button>
  <button mat-menu-item>Apasionado</button>
  <button mat-menu-item disabled>!!JUDIO!!</button>
</mat-menu>

<mat-menu #Zeldero="matMenu">
  <button mat-menu-item>Ocurrente</button>
  <button mat-menu-item>Elocuente</button>
  <button mat-menu-item>Divertido</button>
  <button mat-menu-item disabled>!!ZELDERO!!</button>
</mat-menu>


    <br><br>
    
    
</body>
</html>