<br>
<h4 style="text-align:center">Agendar Cita</h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="onSubmit()" (ngSubmit)="contactForm(form.value)" #form="ngForm"
    class="needs-validation" novalidate>
    <div class="container">
        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre(s)</label>
            <div class="col-8">
                <input name="nombre" class="form-control" type="text" placeholder="Nombre" formControlName="nombre"
                    ngModel>
            </div>
        </div>

        <br>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellidos</label>
            <div class="col-8">
                <input class="form-control" type="text" [ngClass]="{'is-invalid':!forma.get('apellidos')?.valid}"
                    placeholder="Apellidos" formControlName="apellidos">
                <div *ngIf="forma.controls['apellidos'].errors?.['required']" class="invalidfeedback">
                    Ingresa tus apellidos
                </div>
            </div>
        </div>

        <br>

        <div class="form-group row">
            <label class="col-2 col-form-label">Selecciona tu rango de edad</label>
            <div class="col-8">
                <input class="form-control" type="text" [ngClass]="{'is-invalid':!forma.get('edad')?.valid}"
                    placeholder="Edad" formControlName="edad">
                <div *ngIf="forma.controls['edad'].errors?.['required']" class="invalidfeedback">
                    Ingresa tu edad
                </div>
            </div>
        </div>

        <br>

        <div class="form-group row">
            <label class="col-2 col-form-label">Teléfono</label>
            <div class="col-8">
                <input class="form-control" type="text" [ngClass]="{'is-invalid':!forma.get('telefono')?.valid}"
                    placeholder="Teléfono" formControlName="telefono">
                <div *ngIf="forma.controls['telefono'].errors?.['required']" class="invalidfeedback">
                    Ingresa tu teléfono
                </div>
                <div *ngIf="forma.controls['telefono'].errors?.['minlength']" class="invalid-feedback">
                    Ingresa los 7 digitos restantes
                </div>
            </div>
        </div>

        <br>

        <div class="form-group row">
            <label class="col-2 col-form-label">Correo</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="example@gmail.com" formControlName="correo"
                    name="correo" ngModel>
            </div>
        </div>

        <br>

        <!--Tipo de cita-->
        <div class="form-group-row">
            <fieldset>
                <legend class="col-2 col-form-label">Tipo de cita</legend>
                <label>
                    <input type="radio" formControlName="tipoCita" value="Revision y diagnostico" name="tipo" ngModel>
                    Revision y diagnostico
                </label>
                <label>
                    <input type="radio" formControlName="tipoCita" value="Tratamientos esteticos" name="tipo" ngModel>
                    Tratamientos estéticos
                </label>
                <label>
                    <input type="radio" formControlName="tipoCita" value="Tratamientos medicos" name="tipo" ngModel>
                    Tratamientos medicos
                </label>
                <label>
                    <input type="radio" formControlName="tipoCita" value="Limpieza" name="tipo" ngModel>
                    Limpieza
                </label>
                <label>
                    <input type="radio" formControlName="tipoCita" value="Urgencias" name="tipo" ngModel>
                    Urgencias
                </label>
            </fieldset>
            <div *ngIf="forma.controls['tipoCita'].errors?.['required']" class="invalid-feedback" ngModel>
                Selecciona un tipo de cita
            </div>
        </div>
        <br>

        <!-- Fecha -->
        <div class="form-group row">
            <label class="col-2 col-form-label">Fecha de la cita</label>
            <div class="col-8">
                <input class="form-control" type="date" [min]="fechaStrMinima" formControlName="fecha" name="fecha"
                    ngModel>
                <div *ngIf="forma.controls['fecha'].errors?.['minlength']" class="invalid-feedback">
                    Seleccione una fecha valida
                </div>
            </div>
        </div>
        <!-- Fecha -->

        <br>

        <!-- Hora -->
        <div class="form-group row">
            <label class="col-2 col-form-label">Hora de la cita</label>
            <div class="col-8">
                <input class="form-control" type="time" [ngClass]="{'is-invalid':!forma.get('hora')?.valid}" min="13:00"
                    max="20:00" step="3600" formControlName="hora" name="hora" ngModel>
                <div *ngIf="forma.controls['hora'].errors?.['this.validacionDeHora']" class="invalid-feedback">
                    Solo trabajamos de la 01:00 p.m. hasta las 8:00 p.m.
                </div>
            </div>
        </div>
        <!-- Hora -->
        <br>
        <!--Sucursal-->
        <div class="form-group row">
            <label for="sucursal" class="col-2 col-form-label"> Seleccione una sucursal</label>
            <div class="col-8">
                <select id="sucursal" formControlName="sucursal" name="sucursal" class="form-control" ngModel>
                    <option value="" selected disabled hidden>Seleccionar una opción</option>
                    <option value="Altaria">Centro Comercial Altaria</option>
                    <option value="Parian">Centro Comercial El Parian</option>
                    <option value="Universidad">Centro Comercial Altaria</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-primary" [disabled]="forma.invalid">
                    Guardar
                </button>
            </div>
        </div>

    </div>

    <div *ngIf="mensajeEnviado" class="custom-alert">
        El mensaje ha sido enviado correctamente.
    </div>

</form>
<br>