
<div class="cont">
    <div class=" contenedor-opciones">
        <h2 class="text-center" style="font-weight: bold; font-size: 50px;">404</h2>
        <p class="text-center titulos" style="color:#E83F6C; font-size: 30px; font-weight: bold;" >Pagina no encontrada</p>
        <p class="text-center titulos" style="font-weight: bold; font-size: 20px;">Es posible que haya escrito mal la direccion de la pagina o que la pagina se haya movido</p>
        <button [routerLink]="['/inicio']" type=" button" class="btn btn-lg">
            Inicio
        </button>
    </div>
    <div class=" contenedor-opciones">
        <img src="assets/images/404.png"  class="img1">
    </div>
</div>