<body>
    <!-- carrusel -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/dentista2.jpg" class="d-block w-100" style="height: 400px;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/dentista3.jpg" class="d-block w-100" style="height: 400px;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/Dentistas.jpg" class="d-block w-100" style="height: 400px;" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/silla.jpg" class="d-block w-100" style="height: 400px;" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- carrusel -->

    <br>

    <!-- informacion de la empresa -->
    <div class="contenedor-empresa">
        <img src="assets/images/Consultorio-fuera.jpg" alt="">
        <div class="informacion">
            <h2>Bienvenidos a Sabinito Smile</h2>
            <h3 style="color:#E83F6C;">Tu sonrisa en nuestras manos</h3>
            <br>
            <p>Somos un consultorio de odontología Integral.</p>
            <p>Que tenemos la finalidad de ofrecer tratamientos funcionales, cuidando en todo momento la calidad,
                durabilidad y sobre todo la estética de los trabajos
                realizado a nuestros pacientes. Utilizamos la tecnología más avanzada para su completa seguridad,
                tranquilidad e higiene.</p>
        </div>
    </div>
    <!-- informacion de la empresa -->

    <br>

    <!-- servicios -->
    <div class="contenedor-servicios">
        <h2 class="text-center">Nuestros servicios</h2>
        <h6 class="text-center" style="color:#E83F6C;">
            Atendemos pacientes de seguros como: Cimaco, Liverpool, AXA, Inbursa, HSBC, GNP, etc.
        </h6>
        <br>
        <div class="contenedor">
            <div class="servicios">
                <img class="iconos" src="assets/icons/Limpieza.png" style="height: 100px;" alt="">
                <p class="text-center">Limpieza</p>
                <p>Adiós, manchas, sarro y placa dentobacteriana. Dile hola a tu salud bucal.</p>
            </div>
            <div class="servicios">
                <img class="iconos" src="assets/icons/Protesis.png" style="height: 100px;" alt="">
                <p class="text-center">Prótesis</p>
                <p>Recupera la comodidad y la sonrisa con la rehabilitación total de los dientes.</p>
            </div>
            <div class="servicios">
                <img class="iconos" src="assets/icons/Ortodoncia.png" style="height: 100px;" alt="">
                <p class="text-center">Ortodoncia</p>
                <p>Evita problemas de caries e inflamación
                    de las encías con una correcta alineación de los dientes. </p>
            </div>
            <div class="servicios">
                <img class="iconos" src="assets/icons/Implantes.png" style="height: 100px;" alt="">
                <p class="text-center">Implantes</p>
                <p>Te regresamos la funcionalidad y estética en beneficio de tu salud y sonrisa.</p>
            </div>
        </div>
    </div>
    <!-- servicios -->

    <br>

    <!-- ayuda -->
    <div class="contenedor-ayuda">
        <h3 class="text-center">¿Cómo podemos ayudarte?</h3>
        <p class="text-center">
            Ofrecemos una amplia gama de procedimientos para ayudarlo a obtener la sonrisa
            perfecta.
        </p>
        <button type="button" class="btn btn-primary">Realiza cita</button>
    </div>
    <!-- ayuda -->

    <br>

    <!-- ofertas del mes -->
    <div class="contenedor-ofertas">
        <h2 class="text-center">Promociones</h2>
        <br>
        <div class="contenedor" style="justify-content: space-between; width: 60%;">
            <div class="iconos">
                <img class="iconos" src="assets/icons/Descuento.png" style="width: 100px; height: 80px;" alt="">
                <img class="iconos" src="assets/icons/Estudiante.png" style="width: 100px; height: 80px;" alt="">
            </div>
            <div class="promocion">
                <p class="titulo-oferta">Primer cita gratis</p>
                <p>En tu primer cita te aplicamos un 100% de descuento.</p>
                <p class="titulo-oferta">Descuento especial para estudiantes</p>
                <p>Apoyando a los jovenes estudiantes para que conserven siempre una hermosa sonrisa.</p>
            </div>
            <div class="iconos">
                <img class="iconos" src="assets/icons/Niños.png" style="width: 100px; height: 80px;" alt="">
                <img class="iconos" src="assets/icons/DosporUno.webp" style="width: 100px; height: 80px;" alt="">
            </div>
            <div class="promocion">
                <p class="titulo-oferta">Limpieza gratis para niños</p>
                <p>Manten limpia y hermosa la sonrisa de tus niños, con nuestra promocion.</p>
                <p class="titulo-oferta">2x1 en blanqueamiento</p>
                <p>Ven con algun acompañante y paga solo lo de un blanqueamiento.</p>
            </div>
        </div>

        <padre></padre>

    </div>



    <!-- ofertas del mes -->

    <!-- video seguro -->
    <div class="contenedor-video">
        <hr class="separator separator--line">
        <h2 class="text-center">Con nuestro socio de confianza</h2>
        <br>
        <iframe width="560" height="315" [src]="video | videoSeguro:'https://www.youtube.com/embed/' " frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
    </div>
    <!-- video seguro -->

</body>